*.out
*.zip
*.hack
*Simulator.dat
*Emulator.dat
*target
.lein-failures
.nrepl-port
VMTranslator
vm-translator*
*projects/07/**/*.asm
*projects/08/**/*.asm
*projects/09/**/*.vm
*projects/10/**/*T.xml
*projects/10/**/*.vm
analyzer-0.1.0-SNAPSHOT-standalone.jar
JackAnalyzer
